.first-box {
  padding: 10px;
  background: #9C0;
}

.second-box {
  padding: 10px;
  background: #39F;
}

.third-box {
  padding: 10px;
  background: #F66;
}

.fourth-box {
  padding: 10px;
  background: #6CC;
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.panel-pricing .panel-heading {
  padding: 20px 10px;
}

.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}

.panel-pricing .list-group-item {
  color: #000000;
  font-size: 12pt;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}

.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

section.module.parallax {
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
  line-height: 300px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("../img/image_lpg.jpg");
}

@media all and (max-width: 600px) {
  section.module h3 {
    font-size: 26px !important;
    line-height: 26px !important;
    margin-top: 100px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
